h1 {
  font-size: 40px;
  color: red;
}

h2 {
  font-family: fantasy;
  font-style: oblique;
  font-stretch: ultra-expanded;
  text-rendering: geometricPrecision;
}

li {
  font-size: 50px;
}

p {
font-size: 80px;
  font-size-adjust: auto;
  font-style: italic;
  font-weight: 800;
  color: green;
}

.change-theme {
  color: white;
  background-color: gray;
}

body {
  
  object-position: center;
}
